body {
    font-family: 'Arvo', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    font-family: 'Arvo', sans-serif;
    margin-top: 10px;
    background-color: rgba(240, 240, 240, 0.322);
    font-size: 18px;
    border-radius: 6px;
    padding: 7px;
    box-shadow: none;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.541);
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.student-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60vw;
    border-radius: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.603);
    width: 60vw;
}

.student {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    min-width: 60px;
    border-radius: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.541);
    padding: 7px;
    margin: 7px;
}

.flex-item {
    margin: 0;
    padding: 0;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 20px 0px;
}

body {
    opacity: 0;
    animation: fade-in 0.7s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
